
.body1{
	background: linear-gradient(to bottom right, #f8ece1, #f6ece1);
}
.Header{
	text-align: center;
	font-size: 70px;
}
.MainBox{
	width: 1465px;
	height: 530px;
	z-index: auto;
	background: #fbfbfb;
	margin: 40px 30px;
}
.logout{
	font-size: 25px;
	color: black;
	text-decoration: none;
}
.photo{
	position: ;
	width: 95%;
	margin-top:7px;
	margin-left:  8px;

}
.song_banner{
	position: absolute;
	background-color: purple;
	padding: 0;
	width: 20%;
	height: 46%;
	margin-top: 65px;
	margin-left: 40px;
	margin-right: 1130px;
}
.imgtext{
	color: white;
	font-size: 22px;
	margin-left: 125px;
}
.Bar1, .Bar2, .Bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: 0.4s;
}

.menu_button {
  display: inline-block;
  float: left;
  cursor: pointer;
  z-index: auto;
  margin: 30px 55px;
}

.Search input[type=text] {
	padding: 6px;
	border: none;
	border-radius: 500px;
}

.Search {
	float: right;
	display: inline;
	margin-top: 30px;
	margin-right: 60px;
}

.Search button {
	float: left;
	padding: 5px;
	font: 17px;
	border: none;
	cursor: pointer;
	background: #fbfbfb;
}

.Player_Song_Slider{
	position : fixed;
	bottom: 95px;
	width: 100%;
}

#songRange{
	width: 95%;
}

.Player {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: -100px;
	color: red;
	height: 200px;
	/*display: inline;
	vertical-align: middle;*/
	font-size: 30px;
	padding: 0; 
	/*text-align: center;*/
	z-index: auto;
	background-color: rgb(0,0,0,0.2);
	/*border-radius: 500px;*/
	border: none;
	border-radius: 600px;
	margin-top: 20px;

}
.Player_Buttons_Back, .Player_Buttons_loop, .Player_Buttons_Next, .Player_Buttons_Play, .Player_Buttons_Shuffle, .Player_Buttons_Volume{
	margin-top: 20px;

}
.Player_Buttons_Back{
	margin-left: 650px;
	display: inline-block;
	position: fixed;

} 
.Player_Buttons_loop{
	margin-left: 550px;
	display: inline-block;
	position: fixed;
}
.Player_Buttons_Next{
	display: inline-block;
	margin-left: 850px;
	position: fixed;
	
}
.Player_Buttons_Play{
	margin-left: 750px;
	position: fixed;
	display: inline-block;
}
.Player_Buttons_Shuffle{
	margin-left: 950px;
	position: fixed;
	display: inline-block;	
}
.Player_Buttons_Volume{
	margin-left: 1050px;
	position: fixed;
	display: inline-block;	
}
#Range{
	margin-left: 1105px;
	margin-top: 35px;
	position: fixed;
	display: inline-block;
	visibility: hidden;
}
.one{
   width: 50px;
   display: inline-block;
   float: left;
	
}
.two{
   width: 50px;
   display: inline-block;
}
.three{
   width: 50px;
   display: inline-block;
}
.four{
   width: 50px;
   display: inline-block;
}
.five{
   width: 50px;
   display: inline-block;
}
.six{
	width: 50px;
	display: inline-block;
}

.dynamicImg	{
	display: inline-block;
	height: 300px;
	width: 300px;
	margin-top: 5px;
}

.dynamicLoad{
	width: 300px;
	margin: 5px;
	display: inline-block;
}

#left1{
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-left: 1%;
	margin-top: 8.3%;
	position: fixed;
}

#left2{
	display: inline-block;
	width: 400px;
	height: 400px;
	margin-left: 10%;
	margin-top: 5%;
	position: fixed;
}

#centerA{
	display: inline-block;
	position: fixed;
	width: 600px;
	height: 600px;
	margin-left: 25%;
}

#right2{
	position: fixed;
	display: inline-block;
	width: 400px;
	height: 400px;
	margin-left: 55%;
	margin-top: 5%;
}

#right1{
	position: fixed;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-left: 75%;
	margin-top: 8.5%;
}